{% extends 'base.html' %}
{% load static %}
{% block head %}
    <script type="text/javascript" src="{% static 'js/autocompletemap.js' %}"></script>
{% endblock %}
{% block body %}
    <script>
        var base_lat = {% if user.base_lat %}{{ user.base_lat }}{% else %}null{% endif %};
        var base_lng = {% if user.base_lng %}{{ user.base_lng }}{% else %}null{% endif %};
        var home_ico_url = '{% static 'home-ico.png' %}';
        var api_set_base = '{% url 'set-base-location' %}';
        var api_update_admin = '{% url 'update-admin-data' %}';
        var api_get_user = '{% url 'api-get-user' %}';
        $.ajaxSetup({
            headers: {
                'Authorization': 'Token {{ token }}'
            }
        });
    </script>
    {% static 'user-placeholder.jpg' as placeholder_url %}
    {% include 'side_bar.html' with nav_id="side-bar" %}
    <div class="flex-column fill-size">
        <div id="action-bar" style="background-color: #424242; justify-content: space-between;" class="flex-row">
            <span>
                <a id="side-nav-toggle" class="waves-effect waves-light button-collapse" data-activates="side-bar"
                   style="height: 48px; width: 48px;">
                    <i class="material-icons" style="margin: 11px; color: white">menu</i>
                </a>
                <span class="white-title" style="vertical-align: middle; font-size: 20px">Settings</span>
            </span>
            <span>
                <span class="white-title" style="letter-spacing: 2px; font-weight: normal">uni</span>
                <span class="white-title main-color-text" style="margin-left: -5px">Track</span>
            </span>
            <span style="opacity: 0; margin-left: 50px;">
                <span class="white-title" style="vertical-align: middle; font-size: 20px">Settings</span>
            </span>
        </div>
        <div style="padding-top: 3px;flex-grow: 1; overflow-y: auto; background-color: #eee">
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-panel z-depth-0"
                             style="background-color: #00a69f; text-align: center; height: 40px; padding: 7px; margin: 0 0 10px;">
                            <span style="font-weight: bold; font-size: large; color: white">Account</span>
                        </div>
                        <div class="card-content" style="padding-top: 10px;">
                            <div style="text-align: center; width: 100%">
                                <div id="avatar" class="circle"
                                     style="display: inline-block; height: 80px; width: 80px; background-image: url(
                                             {% if user.profile_picture %}{{ user.profile_picture.url }}{% else %}{% static 'user-placeholder.jpg' %}{% endif %}); background-size: cover;">
                                    <input id="avatar-input" type="file" accept="image/*" onchange="loadFile(event);"
                                           style="position: absolute; opacity: 0; overflow: hidden; width: 80px; height: 80px; margin-left: -40px; vertical-align: middle; text-align: center; font-size: 400px">
                                </div>
                            </div>
                            <div class="input-field" style="margin: 15px 30px -10px 20px">
                                <input type="text" id="first-name" value="{{ user.first_name }}">
                                <label for="first-name">First name</label>
                            </div>
                            <div class="input-field" style="margin: 15px 30px -10px 20px">
                                <input type="text" id="last-name" value="{{ user.last_name }}">
                                <label for="first-name">Last name</label>
                            </div>
                            <div class="input-field" style="margin: 15px 30px -10px 20px">
                                <input type="text" id="email" value="{{ user.email }}">
                                <label for="first-name">e-mail</label>
                            </div>
                            <div class="input-field" style="margin: 15px 30px -10px 20px">
                                <input type="password" id="old-password">
                                <label for="first-name">Old password</label>
                            </div>
                            <div class="input-field" style="margin: 15px 30px -10px 20px">
                                <input type="password" id="new-password">
                                <label for="first-name">New password</label>
                            </div>
                        </div>
                        <div class="card-action" style="text-align: center; padding: 8px;">
                            <button class="btn waves-effect waves-light z-depth-0" onclick="updateAdmin();">
                                save
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-panel z-depth-0"
                             style="background-color: #00a69f; text-align: center; height: 40px; padding: 7px; margin: 0 0 10px;">
                            <span style="font-weight: bold; font-size: large; color: white">Base location</span>
                        </div>
                        <div class="card-content" style="padding-top: 10px;">
                            <div style="border: solid 1px #ddd; border-radius: 5px 5px 0 0; border-bottom: none;">
                                <div class="input-field" style="margin: 15px 30px -10px 20px">
                                    <i class="material-icons prefix">search</i>
                                    <input type="text" id="base-address" onfocus="$(this).removeAttr('placeholder');">
                                    <label for="base-address">Search</label>
                                </div>
                            </div>
                            <div id="map" style="height: 300px; border-radius: 0 0 5px 5px;"></div>
                        </div>
                        <div class="card-action" style="text-align: center; padding: 8px;">
                            <button class="btn waves-effect waves-light z-depth-0" onclick="saveBaseLocation();">
                                save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3tzGQhDz8fYDobWn-iJQY4y80Rml3yzU&callback=startMap&libraries=places"
            async defer></script>

    <script>
        $(document).ready(function () {
            if (location.hash == '#img-updated') {
                Materialize.toast('account updated', 3000);
                location.hash = "";
            }
            $('#side-nav-toggle').sideNav();
            $('.collapsible').collapsible();
        });

        function updateAdmin() {
            var output = document.getElementById('avatar');
            var form_data = new FormData();
            form_data.append('profile', document.getElementById('avatar-input').files[0]);
            form_data.append('first-name', $('#first-name').val());
            form_data.append('last-name', $('#last-name').val());
            form_data.append('email', $('#email').val());
            form_data.append('old-mail', '{{ user.email }}');
            form_data.append('password', $('#old-password').val());
            form_data.append('new-password', $('#new-password').val());
            form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            var request = new XMLHttpRequest();
            request.open("POST", api_update_admin);
            request.send(form_data);
            request.onreadystatechange = function () {
                if (request.readyState == 4) {
                    request.onreadystatechange = null;
                    if (request.status != 200) {
                        Materialize.toast('account update failed', 3000);
                    }
                    if (document.getElementById('avatar-input').files[0]) {
                        if ($('#new-password').val() != '' && $('#old-password').val() != '') {
                            Materialize.toast('account updated', 3000);
                            setTimeout(function () {
                                location.reload();
                            }, 1000);
                        } else {
                            location.hash = "img-updated";
                            location.reload();
                        }
                    } else if (request.responseText == 'auth failed') {
                        Materialize.toast('wrong old password', 3000);
                    } else {
                        Materialize.toast('account updated', 3000);
                        if ($('#new-password').val() != '' && $('#old-password').val() != '') {
                            alert('ok');
                            setTimeout(function () {
                                location.reload();
                            }, 1000);
                        }
                    }
                }
            };
        }

        function loadFile(event) {
            var output = document.getElementById('avatar');
            output.style.backgroundImage = "url(" + URL.createObjectURL(event.target.files[0]).toString() + ")";
        }
    </script>

{% endblock %}