{% load static %}

{% static 'user-placeholder.jpg' as placeholder_url %}

{% for user in users %}
    <li name="{{ user.email }}" id="{{ user.id }}" class="collection-item row avatar valign-wrapper"
        style="margin-bottom: 3px">
        {% if user.profile_picture %}
            {% include 'profile_picture.html' with url=user.profile_picture.url %}
        {% else %}
            {% include 'profile_picture.html' with url=placeholder_url %}
        {% endif %}
        <div>
                <span nickname="{{ user.nickname }}" firstname="{{ user.first_name }}" lastname="{{ user.last_name }}"
                      class="title teal-text"
                      style="white-space: nowrap;">{{ user.first_name }} {{ user.last_name }}</span>
            <p>{{ user.email }}</p>
        </div>
        <div style="text-align: right; width: 100%">
            <a onclick="showAlert($('#{{ user.id }}'));" style="width: 42px;;"
               class="btn-flat col s1 right"> <i
                    class="material-icons">delete</i></a>
            <a onclick="modifyUser($(this).parent().parent())" style="width: 42px;;"
               class="btn-flat col s1 right">
                <i class="material-icons">edit</i></a>
        </div>
    </li>
{% endfor %}
