{% extends 'base.html' %}
{% load static %}

{% block body %}
    {% static 'user-placeholder.jpg' as placeholder_url %}
    {% include 'side_bar.html' with nav_id="side-bar" %}
    <div class="flex-column fill-size">
        <div id="action-bar" style="background-color: #424242; justify-content: space-between;" class="flex-row">
            <span>
                <a id="side-nav-toggle" class="waves-effect waves-light button-collapse" data-activates="side-bar"
                   style="height: 48px; width: 48px;">
                    <i class="material-icons" style="margin: 11px; color: white">menu</i>
                </a>
                <span class="white-title" style="vertical-align: middle; font-size: 20px">Users</span>
            </span>
            <span>
                <span class="white-title" style="letter-spacing: 2px; font-weight: normal">uni</span>
                <span class="white-title main-color-text" style="margin-left: -5px">Track</span>
            </span>
            <span style="opacity: 0; margin-left: 50px;">
                <span class="white-title" style="vertical-align: middle; font-size: 20px">Users</span>
            </span>
        </div>
        <div style="flex-grow: 1; overflow-y: auto;">
            <ul id="user-list" class="collection" style="flex-grow: 1; margin: 10px;">
                {% include 'user_list.html' %}
            </ul>
        </div>
    </div>
    <script>
        var modification_in_progress = false;
        $(document).ready(function () {
            $('#side-nav-toggle').sideNav();
        });
        var to_delete;
        var old_mail;
        function showAlert(elem) {
            to_delete = elem;
            showWindow('#user-delete-dialog');
        }

        function modifyUser(user) {
            modification_in_progress = true;
            user = $(user);
            var img = user.find('div').get(0).style.backgroundImage;
            var first_name = user.find('div').find('span').attr('firstname');
            var last_name = user.find('div').find('span').attr('lastname');
            var nickname = user.find('div').find('span').attr('nickname');
            old_mail = user.find('div').find('p').text();
            $('#first-name').val(first_name);
            $('#last-name').val(last_name);
            $('#email').val(old_mail);
            $('#nickname').val(nickname);
            $('#new-password-container').show();
            document.getElementById('avatar').style.backgroundImage = img;
            Materialize.updateTextFields();
            showAddUser();
        }

        function showAddUser() {
            $('#add-user-dialog').show();
        }

        function hideAddUser() {
            $('#add-user-dialog').hide();
            old_mail = "";
            setTimeout(function () {
                var output = document.getElementById('avatar');
                output.style.backgroundImage = "url({% static 'user-placeholder.jpg' %})";
                $('#first-name').val("");
                $('#last-name').val("");
                $('#email').val("");
                $('#nickname').val("");
                $('#password').val("");
                $('#new-password').val("");
                $('#new-password-container').hide();
                Materialize.updateTextFields();
            }, 500);
        }

        function deleteElem() {
            $.get('{% url 'delete-user' %}' + to_delete.attr('name'), function (data) {
                if (data.toString() == 'deleted') {
                    to_delete.remove();
                    Materialize.toast("user removed", 3000);
                } else {
                    Materialize.toast("cannot remove user", 3000);
                }
            });
        }

        function createDriver(first_name, last_name, email, nickname, password, new_password, img_file) {
            var output = document.getElementById('avatar');
            var form_data = new FormData();
            form_data.append('profile', img_file.files[0]);
            form_data.append('first-name', first_name);
            form_data.append('last-name', last_name);
            form_data.append('email', email);
            form_data.append('nickname', nickname);
            form_data.append('old-mail', old_mail);
            form_data.append('password', password);
            form_data.append('new-password', new_password);
            form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            var request = new XMLHttpRequest();
            request.open("POST", "{% url 'create-update-driver' %}");
            request.send(form_data);
            request.onreadystatechange = function () {
                if (request.responseText) {
                    $.get('{% url 'list-users' %}', function (data) {
                        $("#user-list").html(data);
                        if (modification_in_progress) {
                            Materialize.toast("user modified", 3000);
                        } else {
                            Materialize.toast("user added", 3000);
                        }
                    });
                }
            };
            old_mail = "";
        }

        function loadFile(event) {
            var output = document.getElementById('avatar');
            output.style.backgroundImage = "url(" + URL.createObjectURL(event.target.files[0]).toString() + ")";
        }

    </script>

    <div id="user-delete-dialog"
         style="position: absolute; top: 0; right: 0; width: 100vw; height: 100vh; opacity: 0; display: none">
        <div style="width: 100%; position: absolute; top: 40vh; text-align: center">
            <div class="card-panel" style="padding: 0; width: 400px; height: 130px; display: inline-block"
                 id="login-card">
                <div class="card-panel z-depth-0 teal"
                     style="margin: 0; padding-top: 11px; height: 50px; margin-bottom: 20px;">
                    <span style="color: white; font-weight: bold; font-size: large;">Are you sure?</span>
                </div>
                <a class="waves-effect waves-teal btn-flat"
                   onclick="hideWindow('#user-delete-dialog'); deleteElem();">Yes</a>
                <a class="waves-effect waves-teal btn-flat" onclick="hideWindow('#user-delete-dialog');">No</a>
            </div>
        </div>
    </div>

    <div id="add-user-dialog"
         style="display: none; position: absolute; top: -50vh; right: 0; width: 100vw; height: 200vh; background-color: rgba(0,0,0,0.5); z-index: 2;">
        <div style="width: 100%; position: absolute; top: 60vh; text-align: center;">
            <div class="card-panel" style="padding: 0; width: 80vw; height: 80vh; display: inline-block"
                 id="add-user-card">
                <div class="card-panel z-depth-0 teal"
                     style="padding-top: 11px; padding-right: 15px; height: 50px; margin: 0;">
                    <span style="color: white; font-weight: bold; font-size: large;">Create driver</span>
                </div>
                <div style="width: 100%; padding: 20px 60px 60px; height: calc(80vh - 95px); overflow-x: hidden;">
                    <div style="text-align: center;">
                        <div id="avatar" class="circle"
                             style="display: inline-block;height: 100px; width: 100px; background-image: url({% static 'user-placeholder.jpg' %}); background-size: cover;">
                            <input id="avatar-input" type="file" accept="image/*" onchange="loadFile(event);"
                                   style="position: absolute; opacity: 0; overflow: hidden; width: 100px; height: 100px; margin-left: -50px; vertical-align: middle; text-align: center; font-size: 400px">
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="first-name" type="text">
                                <label for="first-name">First name</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="last-name" type="text">
                                <label for="last-name">Last name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="nickname" type="text">
                                <label for="nickname">Nickname</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="email" type="email">
                                <label for="email">e-mail</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12" style="display:flex; flex-direction: row">
                                <div class="input-field" style="flex: 1">
                                    <input id="password" type="password">
                                    <label for="password">password</label>
                                </div>
                                <div id="new-password-container" class="input-field"
                                     style=" margin-left: 20px; flex: 1; display: none;">
                                    <input id="new-password" type="password">
                                    <label for="new-password">new password</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 30px;">
                    <a onclick="createDriver($('#first-name').val(), $('#last-name').val(), $('#email').val(), $('#nickname').val(), $('#password').val(), $('#new-password').val(), document.getElementById('avatar-input')); hideAddUser();"
                       style="" class="waves-effect waves-light btn">save</a>
                    <a onclick="hideAddUser();" class="waves-effect waves-light btn-flat hoverable"
                       style="background-color: lightgray; margin-left: 10px">Cancel</a>

                </div>
            </div>
        </div>
    </div>
    <a class="btn-floating btn-large waves-effect waves-light red" onclick="modification_in_progress = false; showAddUser();"
       style="position: absolute; bottom: 20px; right: 20px;"><i class="material-icons">add</i></a>

{% endblock %}