::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.main-bg {
    background-color: #26A69A;
}

.main-color-text {
    color: #26A69A !important;
}

.fill-size {
    width: 100%;
    height: 100%;
}

.white-title {
    align-self: center;
    font-weight: bold;
    font-size: 23px;
    color: white;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

#action-bar {
    flex: 0 0 48px;
    width: 100%;
    align-items: center;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #4E4E4E;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #4E4E4E;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid #4E4E4E;
    border-bottom: 5px solid transparent;
}


.tooltip-content {
    position: absolute;
    visibility: hidden;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 5vw;
  left: 5vw;
}