html {
    background-image: url('/static/img/login_bg.jpg');
    background-size: cover;
    overflow-y: hidden;
}

#login-container {
    height: 100%;
}

#top-bar {
    background-color: #3a2f63;
    height: 10vh;
}

#login-card {
    background-color: rgba(255, 255, 255, 0.95);
    margin-left: 60px;
    padding: 0;
    padding-bottom: 10px;
}

@media(max-width: 600px) {

    #login-card {
        margin-left: 0;
    }
}

@media(min-width: 600px) {
    #login-card {
        min-width: 400px;
    }
}