{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/login.css' %}"/>
{% endblock head %}
{% block body %}
    <div style="width: 100%; text-align: center; top: 10px; position: absolute; z-index: 1;">
        <span class="white-title" style="font-size: xx-large; color: #333; letter-spacing: 2px; font-weight: normal">uni</span>
        <span class="white-title" style="color: #00d0b8;font-size: xx-large; margin-left: -5px">Track</span>
    </div>
    <div id="login-container" class="row">
        <div class="valign-wrapper" style="height: 100%">
            <div class="valign" style="width: 100vw">
                <div class="col s12 m4">
                    <div class="card-panel" id="login-card">
                        <div class="card-panel z-depth-0"
                             style="background-color: #00a69f; text-align: center; height: 50px; padding: 7px; margin: 0 0 10px;">
                            <span style="font-weight: bold; font-size: x-large; color: white">Login</span>
                        </div>
                        {% if wrong_mail or wrong_password %}
                            <div style="text-align: center;">
                                <span style="font-size: small; color: #d3392d">
                                    {% if wrong_password %}
                                        wrong password
                                    {% else %}
                                        email does not exist
                                    {% endif %}
                                </span>
                            </div>
                        {% endif %}
                        <div class="row">
                            <form class="col s12" action="{% url 'login' %}" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="input-field">
                                        <input id="email" name="email" type="email" data-error="wrong"
                                               data-success="right"
                                               class="validate {% if wrong_mail %}invalid{% endif %}"
                                               value="{{ email }}">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field">
                                        <input id="password" name="password" type="password"
                                               class="validate {% if wrong_password %}invalid{% endif %}"
                                               value="{{ password }}">
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                                <div style="text-align: center">
                                    <button class="btn waves-effect waves-light z-depth-0" type="submit">
                                        ok
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}