body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#nav-container {
    display: table;
    width: 200px;
    text-align: center;
    height: 48px;
}

#drivers {
    background-color: #f4f4f4;
    overflow: visible;
}