{% load static %}
<!DOCTYPE html>
<html>
<style>
    html, body { height: 100%; width: 100%; margin: 0; }
</style>
<head>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="{% static 'jquery-2.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/common.css' %}"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}UniTrack{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body style="overflow: hidden;">
{% block body %} {% endblock %}
</body>
</html>
