<div id="{{ id }}"
     style="position: absolute; top: 0; right: 0; width: 100vw; height: 100vh; z-index: 10; opacity: 0; display: none">
    <div style="width: 100%; position: absolute; top: 40vh; text-align: center;">
        <div class="card-panel flex-column" style="padding: 0; width: 400px; display: inline-block"
             id="login-card">
            <div class="card-panel z-depth-0 teal"
                 style="margin: 0; padding-top: 11px; height: 50px;">
                <span style="color: white; font-weight: bold; font-size: large;">{{ title }}</span>
            </div>
            <div class="flex-column" style="padding: 10px">
                <div class="input-field">
                    <input id="content" type="text">
                    <label for="content">{{ hint }}</label>
                </div>
                <div class="flex-row" style="justify-content: center">
                    <a class="waves-effect waves-light btn"
                       onclick="hideWindow('#{{ id }}'); var content = $('#content').val(); {{ callback }}">ok</a>
                </div>
            </div>
        </div>
    </div>
</div>