{% for position in positions %}
    <li id="{{ position.pk }}" style="display: flex; align-items: center">
        <a style="flex-grow: 1;" onclick="setBounds(
                   new google.maps.LatLngBounds(
                   new google.maps.LatLng({{ position.lat1 }}, {{ position.lng1 }}),
                   new google.maps.LatLng({{ position.lat2 }}, {{ position.lng2 }})));">
            {{ position.name }}
        </a>
        <i onclick="deleteMapPosition({{ position.pk }})" class="material-icons waves-effect waves-teal" style="margin: 0 10px 0 auto">delete</i>
    </li>
{% endfor %}