{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/maps.css' %}"/>
    <script type="text/javascript" src="{% static 'js/maps.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/maps_markers.js' %}"></script>
{% endblock %}

{% block body %}
    <script>
        {% if user.map_state.lat1 %}
            var lat1 = {{ user.map_state.lat1 }};
            var lng1 = {{ user.map_state.lng1 }};
            var lat2 = {{ user.map_state.lat2 }};
            var lng2 = {{ user.map_state.lng2 }};
        {% else %}
            var lat1 = null;
            var lng1 = null;
            var lat2 = null;
            var lng2 = null;
        {% endif %}
        var list_users_url = '{% url 'list-users' %}';
        var api_get_location = '{% url 'api-get-location' %}';
        var api_get_map_state = '{% url 'api-get-map-state' %}';
        var api_set_map_state = '{% url 'api-set-map-state' %}';
        var api_get_map_views = '{% url 'api-get-map-views' %}';
        var api_add_map_view = '{% url 'api-add-map-view' %}';
        var get_positions_url = '{% url 'maps-get-positions' %}';
        var api_delete_position_url = '{% url 'api-delete-position' %}';
        $.ajaxSetup({
            headers: {
                'Authorization': 'Token {{ token }}'
            }
        });
        var token = 'Token {{ token }}';
        var view_mode = {{ user.map_state.view_mode }};
        var manual_position_ico = '<img style="width: 25px;" src="{% static 'img/bounds.png' %}">';
        var auto_position_ico = '<img style="width: 25px;" src="{% static 'img/bounds_auto.png' %}">';
        var infobox_url = '{% static 'js/infobox.js' %}';
        var base_lat = {% if user.base_lat %}{{ user.base_lat }}{% else %}null{% endif %};
        var base_lng = {% if user.base_lng %}{{ user.base_lng }}{% else %}null{% endif %};
        var home_ico_url = '{% static 'home-ico.png' %}';
    </script>

    {% include 'side_bar.html' with nav_id="side-bar" %}

    <div style="width: 100%; text-align: center; position: absolute; z-index: 1;">
        <span class="white-title" style="color: #333;letter-spacing: 2px; font-weight: normal">uni</span>
        <span class="white-title main-color-text" style="margin-left: -5px">Track</span>
    </div>
    <div class="flex-row fill-size">
        <div class="flex-column"
             style="background-color: #424242; top: 40px; width: 40px; height: 100%;">
            <a class="waves-effect waves-light button-collapse" data-activates="side-bar" onclick="$('.dropdown-button').dropdown('close');"
               style="background-color: #424242; height: 40px; width: 40px;">
                <i class="material-icons" style="margin: 7px; color: white">menu</i>
            </a>
            <a class="waves-effect waves-light tooltip-right" tooltip="center" onclick="centerDefaultView();"
               style="margin-left: auto;display: flex; width:40px; height: 40px; align-items: center; justify-content: center;">
                <img style="width: 22px; height: 22px;" src="{% static 'img/center_default.png' %}">
            </a>
            <a id="view-mode-button" class="dropdown-button waves-effect waves-light tooltip-right" tooltip="view mode"
               data-activates="dropdown-center"
               style="padding: 7px; background-color: #424242; height: 40px; width: 40px;" data-constrainwidth="false">
                {% if user.map_state.view_mode == 0 %}
                    <img style="width: 25px;" src="{% static 'img/bounds.png' %}">
                {% else %}
                    <img style="width: 25px;" src="{% static 'img/bounds_auto.png' %}">
                {% endif %}

            </a>
            <ul id='dropdown-center' class='dropdown-content' style="width: 300px">
                <div class="flex-row" style="height: 40px; background-color: #4e4e4e;">
                    <a id="position-ico1" class="waves-effect waves-light tooltip-top hide-clicked-tooltip"
                            {% if user.map_state.view_mode == 0 %}
                       tooltip="center manually"
                            {% else %}
                       tooltip="center automatically"
                            {% endif %}
                       style="display: flex; width:40px; align-items: center; justify-content: center;">
                        {% if user.map_state.view_mode == 0 %}
                            <img style="width: 25px;" src="{% static 'img/bounds.png' %}">
                        {% else %}
                            <img style="width: 25px;" src="{% static 'img/bounds_auto.png' %}">
                        {% endif %}
                    </a>
                    <a id="position-ico2" class="waves-effect waves-light tooltip-top hide-clicked-tooltip"
                            {% if user.map_state.view_mode == 0 %}
                       tooltip="center automatically"
                            {% else %}
                       tooltip="center manually"
                            {% endif %}
                       style="display: flex; width:40px; align-items: center; justify-content: center;">
                        {% if user.map_state.view_mode == 0 %}
                            <img style="width: 25px;" src="{% static 'img/bounds_auto.png' %}">
                        {% else %}
                            <img style="width: 25px;" src="{% static 'img/bounds.png' %}">
                        {% endif %}
                    </a>
                    <a id="position-ico2" class="waves-effect waves-light tooltip-top hide-clicked-tooltip" tooltip="set default location"
                       onclick="setDefaultView()"
                       style="margin-left: auto; display: flex; width:40px; align-items: center; justify-content: center;">
                        <img style="width: 25px;" src="{% static 'img/curent_location.png' %}">
                    </a>
                </div>
                <div id="positions-container">
                    {% include 'center_positions.html' %}
                </div>
                <li class="divider"></li>
                <li><a onclick="showWindow('#location-dialog');"><i class="material-icons" style="vertical-align: top">add</i><span
                        style="margin-left: 20px; vertical-align: top;">add curent</span></a></li>

            </ul>
            <a class="dropdown-button waves-effect waves-light tooltip-right" data-activates="dropdown-map-options"
               tooltip="map options" data-constrainwidth="false"
               style="background-color: #424242; height: 40px; width: 40px;">
                <i class="material-icons" style="margin: 7px; color: white">visibility</i>
            </a>
            <ul id='dropdown-map-options' class='dropdown-content' style="width: 300px">
                <div class="flex-row" style="height: 40px; justify-content: center; background-color: #4e4e4e;">
                    <span class="white-title" style="font-size: 20px">Map options</span>
                </div>
                <li class="prevent-click" style="display: flex; align-items: center; padding-left: 20px"><input
                        checked="checked" type="checkbox" id="traffic" onchange="toggleTraffic();"/><label
                        for="traffic">show traffic</label></li>
            </ul>
        </div>

        <div id="map" class="fill-size" style="background-color: #373737">
        </div>
    </div>
    {% include 'text_input_dialog.html' with id='location-dialog' title='Add location' hint='location name' callback='addMapPosition(content);' %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3tzGQhDz8fYDobWn-iJQY4y80Rml3yzU&callback=startMap"
            async defer></script>
{% endblock %}