{% load static %}
{% static 'user-placeholder.jpg' as placeholder_url %}
<ul id="{{ nav_id }}" class="side-nav">
    <li>
        <div class="userView">
            <a class="white-text" style="text-align: right; position: absolute; right: 32px; top: -8px;" href="{% url 'logout' %}">logout |</a>
            <a style="font-size: 22px; text-align: right; position: absolute; right: 7px; top: -8px; cursor: pointer;" class="white-text material-icons" href="{% url 'admin-settings' %}">settings</a>
            <div class="background" style="background-color: #26A69A;">
            </div>
            {% if user.profile_picture %}
                {% include 'profile_picture.html' with url=user.profile_picture.url %}
            {% else %}
                {% include 'profile_picture.html' with url=placeholder_url %}
            {% endif %}
            <span class="white-text name">{{ user.first_name }} {{ user.last_name }}</span>
            <span class="white-text email">{{ user.email }}</span>
        </div>
    </li>
    <li id="map-navbar" class="waves-effect" style="width: 100%;"><a href="/"><i class="material-icons">map</i>Map</a></li>
    <li id="users-navbar" class="waves-effect" style="width: 100%;"><a href="{% url 'users' %}"><i class="material-icons">person</i>Users</a></li>
</ul>